name: CI Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    # Set default working directory for all steps
    defaults:
      run:
        working-directory: ./soaeco-soen341_project_w26

    steps:
      - uses: actions/checkout@v4
      
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: ./soaeco-soen341_project_w26/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Check for Linting Errors
        run: npm run lint

      - name: Check if App Builds
        run: npm run build
        env:
          NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
          NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}

